<p class="text-lg font-medium">Root Folder: <strong><%= rootFolder %></strong></p>
<table class="table-auto w-full border-collapse border border-gray-200 mt-4">
    <thead>
        <tr class="bg-gray-100">
            <th class="border border-gray-300 px-4 py-2">Folder Name</th>
            <th class="border border-gray-300 px-4 py-2">Folder Path</th>
        </tr>
    </thead>
    <tbody>
        <% folders.forEach(folder => { %>
            <tr class="odd:bg-white even:bg-gray-50">
                <td class="border border-gray-300 px-4 py-2"><%= folder.folderName %></td>
                <td class="border border-gray-300 px-4 py-2"><%= folder.folderPath %></td>
            </tr>
        <% }); %>
    </tbody>
</table>